@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #428dced0;
  background: linear-gradient(0.25turn, #3f87a6, #a46be9, #febe7a);
}

header {
  text-align: center;
  background: linear-gradient(0.25turn, #3f87a6,  #a46be9, #febe7a);
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  }

.container {
  display: flex;
  justify-content: center;
  height: auto;
}
.containerScore {
  display: flex;
  justify-content: space-evenly;
  border: 5px solid #ffffff;
  padding: 40px;
  width: 40%;
  height: auto;
  font-size: 1.2rem;
}

.userCont {
  padding: 10px;
  background-color: #e44432;
  color: white;
  position: absolute;
  top: 140px;
  left: 380px;
  border-radius: 10px;
}
.compCont {
  padding: 10px;
  background-color: #e44432;
  color: white;
  margin-left: 5px;
  position: absolute;
  top: 140px;
  right: 380px;
  border-radius: 10px;
}

.container-text {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: white;
}
#textWinner {
  font-size: 3rem;
}

#userScoreSpan,
#compScoreSpan,
#colon {
  font-size: 60px;
  color: white;
}

.btnCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
  padding: 1rem;
  overflow: hidden;
}

.btn {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  width: 250px;
  height: 250px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn.btn-one {
  background-image: url("../img/rock2.png");
}

.btn.btn-two {
  background-image: url("../img/paper2.png");
}

.btn.btn-three {
  background-image: url("../img/scissors.png");
}

.btn:hover {
  cursor: pointer;
}

.pic {
  border-radius: 50%;
  background-color: white;
  background-size: 25px;
  background-position: center center;
}

.leftArm {
  transform: rotateY(180deg);
  position: absolute;
}

.choices-container {
  font-size: 22px;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
}
.resetCont {
  text-align: center;
}

.resetBtn {
  text-align: center;
  margin: 0;
  padding: 4px 10px;
  background-color: rgb(121, 58, 166);
  border: 1px solid black;
  color: #ff5643;
  transition: 0.2s all ease-out;
  letter-spacing: 1px;
  border-radius: 5px;
  font-weight:bolder
}

.resetBtn:hover {
  background-color: #e44432;
  color: white;
  padding: 5px 15px;
  cursor: pointer;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    rotate: rotate(0deg);
  }
}

.rounded-border {
  padding: 30px;
  border-radius: 50%;
  margin-bottom: 5px;
  position: relative;
  top: 0;
  transition: 0.2s all ease-in-out;
  z-index: 2;
}

.rounded-border:hover {
  position: relative;
  top: -7px;
  transition: all ease-out 0.2s;
}

.rounded-border::before {
  content: ''; 
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  border: 5px dashed #010101;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  animation: rotate 30s linear infinite;
  z-index: -1;
}